//! **************************************************************************
// Written by: Map P.28xd on Mon Sep 29 04:01:20 2014
//! **************************************************************************

SCHEMATIC START;
COMP "cin" LOCATE = SITE "P65" LEVEL 1;
COMP "cout" LOCATE = SITE "P196" LEVEL 1;
COMP "sum" LOCATE = SITE "P191" LEVEL 1;
COMP "a" LOCATE = SITE "P63" LEVEL 1;
COMP "b" LOCATE = SITE "P67" LEVEL 1;
SCHEMATIC END;

