//! **************************************************************************
// Written by: Map P.28xd on Mon Nov 10 16:10:53 2014
//! **************************************************************************

SCHEMATIC START;
COMP "cs_home" LOCATE = SITE "P74" LEVEL 1;
COMP "lcd_rw" LOCATE = SITE "P155" LEVEL 1;
COMP "cs_right" LOCATE = SITE "P50" LEVEL 1;
COMP "clk" LOCATE = SITE "P79" LEVEL 1;
COMP "up" LOCATE = SITE "P71" LEVEL 1;
COMP "reset" LOCATE = SITE "P57" LEVEL 1;
COMP "down" LOCATE = SITE "P58" LEVEL 1;
COMP "lcd_e" LOCATE = SITE "P154" LEVEL 1;
COMP "lcd_data<0>" LOCATE = SITE "P152" LEVEL 1;
COMP "lcd_data<1>" LOCATE = SITE "P150" LEVEL 1;
COMP "lcd_data<2>" LOCATE = SITE "P149" LEVEL 1;
COMP "lcd_data<3>" LOCATE = SITE "P148" LEVEL 1;
COMP "lcd_data<4>" LOCATE = SITE "P147" LEVEL 1;
COMP "lcd_data<5>" LOCATE = SITE "P146" LEVEL 1;
COMP "lcd_data<6>" LOCATE = SITE "P144" LEVEL 1;
COMP "lcd_data<7>" LOCATE = SITE "P143" LEVEL 1;
COMP "cs_left" LOCATE = SITE "P68" LEVEL 1;
COMP "lcd_rs" LOCATE = SITE "P156" LEVEL 1;
COMP "cs_up" LOCATE = SITE "P67" LEVEL 1;
COMP "cs_down" LOCATE = SITE "P62" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

