//! **************************************************************************
// Written by: Map P.28xd on Mon Nov 03 12:24:48 2014
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "P68" LEVEL 1;
COMP "f" LOCATE = SITE "P74" LEVEL 1;
COMP "ha" LOCATE = SITE "P58" LEVEL 1;
COMP "g" LOCATE = SITE "P50" LEVEL 1;
COMP "clk" LOCATE = SITE "P79" LEVEL 1;
COMP "sa" LOCATE = SITE "P176" LEVEL 1;
COMP "sb" LOCATE = SITE "P178" LEVEL 1;
COMP "sc" LOCATE = SITE "P181" LEVEL 1;
COMP "sd" LOCATE = SITE "P182" LEVEL 1;
COMP "se" LOCATE = SITE "P184" LEVEL 1;
COMP "sf" LOCATE = SITE "P185" LEVEL 1;
COMP "sg" LOCATE = SITE "P187" LEVEL 1;
COMP "piezo" LOCATE = SITE "P51" LEVEL 1;
COMP "reset" LOCATE = SITE "P57" LEVEL 1;
COMP "a" LOCATE = SITE "P63" LEVEL 1;
COMP "b" LOCATE = SITE "P67" LEVEL 1;
COMP "c" LOCATE = SITE "P65" LEVEL 1;
COMP "d" LOCATE = SITE "P71" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

