NET "a[3]" LOC = "P34";
NET "a[2]" LOC = "P35";
NET "a[1]" LOC = "P37";
NET "a[0]" LOC = "P36";
NET "b[3]" LOC = "P40";
NET "b[2]" LOC = "P39";
NET "b[1]" LOC = "P43";
NET "b[0]" LOC = "P42";
NET "cout" LOC = "P191";
NET "s[3]" LOC = "P198";
NET "s[2]" LOC = "P200";
NET "s[1]" LOC = "P204";
NET "s[0]" LOC = "P10";