//! **************************************************************************
// Written by: Map P.28xd on Mon Sep 22 02:22:18 2014
//! **************************************************************************

SCHEMATIC START;
COMP "x" LOCATE = SITE "P191" LEVEL 1;
COMP "a" LOCATE = SITE "P63" LEVEL 1;
COMP "b" LOCATE = SITE "P67" LEVEL 1;
SCHEMATIC END;

