//! **************************************************************************
// Written by: Map P.28xd on Mon Oct 27 05:33:35 2014
//! **************************************************************************

SCHEMATIC START;
COMP "x" LOCATE = SITE "P63" LEVEL 1;
PIN x_pin<0> = BEL "x" PINNAME PAD;
PIN "x_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "y<0>" LOCATE = SITE "P196" LEVEL 1;
COMP "y<1>" LOCATE = SITE "P191" LEVEL 1;
COMP "rstn" LOCATE = SITE "P57" LEVEL 1;
SCHEMATIC END;

